.title {
    margin-bottom: 30px;
}

.title h4 {
    color: white;
}

.title p {
    margin-top: 0 !important;
    color: white;
    font-size: small;
}

.forget a {
    font-size: small !important;
    color: rgb(36, 248, 8);
}
ion-list{
    --ion-background-color:black;
}
